@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import "reset";

$white: #fff;
$darkBlue: #3A4793;
$lightBlue: #25B3EC;
$lightPurple: #9787EE;
$yellow: #FF8F3E;

*, h1, h2, h3, h4, h5, h6, p, span, div{
  box-sizing: border-box;
  color: $white;
  font-family: sans-serif;
}

html, body {
  background: #EDEDED;
  height:100%;
  overflow: hidden;
}

@import "home.scss";
@import "all-tasks.scss";
